<a href="https://colab.research.google.com/github/jangInw007/dataviz2025/blob/main/dictionary_function_loop_condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}
#บอก index = abc
# : ชี้ไปที่ค่าไหน

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def'] #เรียก dic

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b['a'] = 12 #ถ้าแอดชื่อเดิม มันจะเซฟทับเลย ระวัง

In [ ]:
dict_b

{'a': 12}

## การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
  dict_b['b'] = 123

In [ ]:
dict_b

{'a': 12, 'b': 123}

# **Function**

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y
() input

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ **เว้นวรรค (indent)** เพื่อบอกขอบเขตของโปรแกรม

#### **function มีส่วนสำคัญทั้งหมด 4 ส่วน**

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Chitlada')

In [ ]:
print_myname()

Chitlada

In [ ]:
b = print_myname()

Chitlada

In [ ]:
b #เอาตัวแปรมารับแบบไม่มี return ถ้าprint จะไม่ออกค่า

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มี input กับ output ครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat') #เอา a มารับค่า แบบที่มี  return จะprint a ได้
a

'ชื่อ stat'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('นิมินรัมย์','663020278-5','จิตรลดา')

'ชื่อ จิตรลดา นามสกุล นิมินรัมย์ รหัส 663020278-5'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

#### ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st) # no return

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

### ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'): # default  ถัาไม่ได้ทำอะไรจะเอาค่านี้มาใส่
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2) # ไม่ return

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8') # ไม่ได้ใส่เกรดเลย default ค่า F

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย') # ใส่ inout ไม่ครบ ไม่ออก

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5

12:30:15,Wednesday - 13:41:07, Thursday

12:53:15, Monday - 00:59:25, Tuesday

16:06:09, Sunday - 11:11:11, Tuesday

In [ ]:
# prompt: เขียน โค้ด ฟังก์ชันอย่างง่ายและเข้าใจ คำนวณเวลาเป็น วินาที จากโจทย์ 12:30:15,Wednesday - 13:41:07, Thursday 12:53:15, Monday - 00:59:25, Tuesday 16:06:09, Sunday - 11:11:11, Tuesday

def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

def day_to_seconds(day_str):
    days = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
            'Friday': 4, 'Saturday': 5, 'Sunday': 6}
    return days[day_str] * 24 * 3600

def calculate_time_difference_with_days(time_entry):

    time1_str, time2_str = time_entry.split(' - ')
    time1, day1 = time1_str.split(',')
    time2, day2 = time2_str.split(',')

    total_seconds1 = time_to_seconds(time1) + day_to_seconds(day1.strip())
    total_seconds2 = time_to_seconds(time2) + day_to_seconds(day2.strip())

    if total_seconds2 < total_seconds1:
        total_seconds2 += 7 * 24 * 3600 # Add a week's worth of seconds
    return total_seconds2 - total_seconds1

# Test cases
test_cases = [
    '12:30:15,Wednesday - 13:41:07, Thursday',
    '12:53:15, Monday - 00:59:25, Tuesday',
    '16:06:09, Sunday - 11:11:11, Tuesday'
]
for case in test_cases:
    difference_in_seconds = calculate_time_difference_with_days(case)
    print(f"Time difference for '{case}': {difference_in_seconds} seconds")

Time difference for '12:30:15,Wednesday - 13:41:07, Thursday': 90652 seconds
Time difference for '12:53:15, Monday - 00:59:25, Tuesday': 43570 seconds
Time difference for '16:06:09, Sunday - 11:11:11, Tuesday': 155102 seconds

#Quiz6

เขียนฟังก์ชันของ 2 มีการใช้ค่า defual ของ  input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

In [ ]:
# prompt: เขียนฟังก์ชันเข้าใจง่ายมีการใช้ค่า default ของ  input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว จากโจทย์เช่น 12:30:15, Wednesday - 13:41:07, Wednesday
# 12:53:15, Monday - 00:59:25, Tuesday
# 16:06:09, Sunday - 11:11:11, Tuesday

def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

def day_to_seconds(day_str):
    days = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
            'Friday': 4, 'Saturday': 5, 'Sunday': 6}
    return days[day_str] * 24 * 3600

def calculate_time_difference_simplified(time1_str, day1_str=None, time2_str=None, day2_str=None):
    # กำหนดค่า default สำหรับ day1_str หากไม่ได้ระบุ
    if day1_str is None:
        day1_str = 'Monday'

    # ถ้าไม่ได้ระบุเวลาสิ้นสุด (time2_str)
    if time2_str is None:
        # คำนวณผลต่างจาก 00:00:00 ของวันเริ่มต้น ถึง time1_str ของวันเริ่มต้น
        start_time_seconds = time_to_seconds('00:00:00') + day_to_seconds(day1_str.strip())
        end_time_seconds = time_to_seconds(time1_str) + day_to_seconds(day1_str.strip())
        return end_time_seconds - start_time_seconds
    else:
        # ถ้ามีการระบุเวลาสิ้นสุด ให้คำนวณผลต่างระหว่างสองช่วงเวลาและวัน
        # กำหนดค่า default สำหรับ day2_str หากไม่ได้ระบุ
        if day2_str is None:
            day2_str = day1_str

        # Ensure day strings are not None before stripping (should be handled by default assignment, but good practice)
        day1_str_stripped = day1_str.strip()
        day2_str_stripped = day2_str.strip()


        total_seconds1 = time_to_seconds(time1_str) + day_to_seconds(day1_str_stripped)
        total_seconds2 = time_to_seconds(time2_str) + day_to_seconds(day2_str_stripped)

        if total_seconds2 < total_seconds1:
            total_seconds2 += 7 * 24 * 3600  # ถ้าเวลาสิ้นสุดน้อยกว่าเวลาเริ่มต้น (ข้ามสัปดาห์) ให้บวกเพิ่ม 7 วัน

        return total_seconds2 - total_seconds1

# ตัวอย่างการใช้งาน
print(f"ระบุวันทั้งคู่ = {calculate_time_difference_simplified('12:30:15', 'Wednesday', '13:41:07', 'Thursday')}")
print(f"ระบุวันทั้งคู่ = {calculate_time_difference_simplified('12:53:15', 'Monday', '00:59:25', 'Tuesday')}")
print(f"ระบุวันทั้งคู่ = {calculate_time_difference_simplified('16:06:09', 'Sunday', '11:11:11', 'Tuesday')}")
print(f"ระบุวันเริ่มต้นอย่างเดียว = {calculate_time_difference_simplified('12:30:15', 'Wednesday', '13:41:07')}")
print(f"ระบุเวลาสิ้นสุดและวันสิ้นสุดอย่างเดียว = {calculate_time_difference_simplified('12:30:15', time2_str='13:41:07', day2_str='Wednesday')}")
print(f"ระบุเวลาเริ่มต้นและวันเริ่มต้นอย่างเดียว (ถือว่าเป็นวันเดียวกัน) = {calculate_time_difference_simplified('12:30:15', 'Wednesday')}")
print(f"ระบุแค่เวลาเริ่มต้นอย่างเดียว (ถือว่าเป็นวันจันทร์และเวลาสิ้นสุดเหมือนเวลาเริ่มต้น) = {calculate_time_difference_simplified('12:30:15')}")
print(f"ระบุเวลาเริ่มต้นและเวลาสิ้นสุด (ถือว่าเป็นวันจันทร์ทั้งคู่) = {calculate_time_difference_simplified('12:30:15', time2_str='12:35:00')}")

ระบุวันทั้งคู่ = 90652
ระบุวันทั้งคู่ = 43570
ระบุวันทั้งคู่ = 155102
ระบุวันเริ่มต้นอย่างเดียว = 4252
ระบุเวลาสิ้นสุดและวันสิ้นสุดอย่างเดียว = 177052
ระบุเวลาเริ่มต้นและวันเริ่มต้นอย่างเดียว (ถือว่าเป็นวันเดียวกัน) = 45015
ระบุแค่เวลาเริ่มต้นอย่างเดียว (ถือว่าเป็นวันจันทร์และเวลาสิ้นสุดเหมือนเวลาเริ่มต้น) = 45015
ระบุเวลาเริ่มต้นและเวลาสิ้นสุด (ถือว่าเป็นวันจันทร์ทั้งคู่) = 285

#inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp


- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc','def')

abc def

In [ ]:
print('abc','def',end='end')

abc defend

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(i,end = '-> /\n')

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5) #0ถึงเลขrange()
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) #-3 เริ่ม ถึง 20 Step 4

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาขิกและลำดับ

In [ ]:
index = 0
for i in 'Thanapong' :
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิก T เป็นลำดับที่ 0
สมาชิก h เป็นลำดับที่ 1
สมาชิก a เป็นลำดับที่ 2
สมาชิก n เป็นลำดับที่ 3
สมาชิก a เป็นลำดับที่ 4
สมาชิก p เป็นลำดับที่ 5
สมาชิก o เป็นลำดับที่ 6
สมาชิก n เป็นลำดับที่ 7
สมาชิก g เป็นลำดับที่ 8

In [ ]:
for index,i in enumerate('Thanapong'): #enumerate ฟังก์ชัน
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')

สมาชิก T เป็นลำดับที่ 0
สมาชิก h เป็นลำดับที่ 1
สมาชิก a เป็นลำดับที่ 2
สมาชิก n เป็นลำดับที่ 3
สมาชิก a เป็นลำดับที่ 4
สมาชิก p เป็นลำดับที่ 5
สมาชิก o เป็นลำดับที่ 6
สมาชิก n เป็นลำดับที่ 7
สมาชิก g เป็นลำดับที่ 8

## loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz 7 วนลูป แสดงค่าตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
# prompt: วนลูป แสดงค่าตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้
# ex:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

## loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

## looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish